body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
}

/* colored text & login and logout messages */
.message, .nav > li > a.nav-message, .nav > li > a.nav-message:hover {
    color: #FF0
}

/* footer */
.footer {
    text-align: center;
}

/* navigation bar */
.menu-bar {
    margin-bottom: 0;
}

/* content */
.content {
    padding-top: 20px;
    padding-bottom: 50px;
}

/* submit page */

.submit {
    margin-left: 40px;
    margin-top: 20px;
}

.errorlist > li{
    color: red;
}

#uploadForm, #inputForm {
    margin-top: 20px;
}

/* graf */

#placeholder {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px
}

#radio {
    text-align: center;
}

#radio > input {
    margin-bottom: 0.5em;
}

#radio > a {
    display: inline;
    margin: 0 10px 0 3px;
    text-decoration: none;
    color: inherit;
}

.tooltip-inner {
    font-size: 14px;
}




