{% extends "master.html" %}
{% load static %}

{% block html_attributes %}ng-app="pgbench"{% endblock %}
{% block body_attributes %}ng-controller="pgbenchCtrl"{% endblock %}

{% block javascript %}
    <script src="{% static 'javascript/analyze.js' %}"></script>
{% endblock %}

{% block title %}Analyze{% endblock %}

{% block content %}

    {% if not user.is_authenticated %}
        You have to login first.
    {% endif %}

    <div id="graph">
        <div id="placeholder"></div>
        <br>
        <div id="radio">

        </div>
    </div>

    <br>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>User</th>
            <th>Date</th>
            <th>Transaction type</th>
            <th>Scaling factor</th>
            <th>Threads</th>
            <th>Clients</th>
            <th>Transactions per client</th>
            <th>Transactions</th>
            <th>TPS</th>
            <th>TPS (including establishing connections)</th>
            <th>Special fields</th>
        </tr>
        {% verbatim %}
        <tr ng-repeat="m in measures.objects">
            <td>{{ m.id }}</td>
            <td>{{ m.title }}</td>
            <td>{{ m.user }}</td>
            <td>{{ m.date | datefix | date:"d/M/yyyy HH:mm" }}</td>
            <td>{{ m.transactionType }}</td>
            <td>{{ m.scalingFactor }}</td>
            <td>{{ m.threads }}</td>
            <td>{{ m.clients }}</td>
            <td>{{ m.transactionsPerClient }}</td>
            <td>{{ m.transactions }}</td>
            <td>{{ m.TPS }}</td>
            <td>{{ m.TPSConnEstablish }}</td>
            <td><span ng-repeat="f in m.fields">{{f}}</span></td>
        </tr>
        {% endverbatim %}
    </table>

    <br/><br/>


{% endblock %}
