{% extends "master.html" %}

{% load static %}

{% block html_attributes %}ng-app="pgbench"{% endblock %}
{% block body_attributes %}ng-controller="pgbenchCtrlS"{% endblock %}
{% block title %}Search{% endblock %}

{% block content %}

     <form method="get" class="form-search"   >
         <input type="text" class="input-medium search-query" ng-model="q">
         <button class="btn" ng-click="find(q)" >Search</button>
     </form>

    {% if not user.is_authenticated %}
        You have to login first.
    {% else %}

        <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>User</th>
            <th>Date</th>
            <th>Transaction type</th>
            <th>Scaling factor</th>
            <th>Threads</th>
            <th>Clients</th>
            <th>Transactions per client</th>
            <th>Transactions</th>
            <th>TPS</th>
            <th>TPS (including establishing connections)</th>
            <th>Special fields</th>

        </tr>
        {% verbatim %}
        <tr ng-repeat="m in searchM.objects">
            <td>{{ m.id }}</td>
            <td>{{ m.title }}</td>
            <td>{{ m.user }}</td>
            <td>{{ m.date | datefix | date:"d/M/yyyy HH:mm" }}</td>
            <td>{{ m.transactionType }}</td>
            <td>{{ m.scalingFactor }}</td>
            <td>{{ m.threads }}</td>
            <td>{{ m.clients }}</td>
            <td>{{ m.transactionsPerClient }}</td>
            <td>{{ m.transactions }}</td>
            <td>{{ m.TPS }}</td>
            <td>{{ m.TPSConnEstablish }}</td>
            <td><span ng-repeat="f in m.fields">{{f}}</span></td>
        </tr>
        {% endverbatim %}
    </table>

        {% endif %}


{% endblock %}